 * {
    margin: 0; padding: 0;
 }

 @font-face {
          font-family: Grafitte;
          src: url(fonts/el_font_urban_calligraphy/Urban\ Calligraphy.ttf);
        }
        
@font-face {
    font-family: City;
    src: url(fonts/graffiti_city/Graffiti\ City.otf);  
}


header {
    height: 100px;
    width:auto ;
    font-family: "Grafitte";
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    
    
}


a {
    
    padding-left: 40px;
    color: black;
    font-size: 40px;
    text-decoration: none;
    
}



.icons {
   display: flex;
   gap: 20px;
   height: 45px;
   padding-right: 56px;
   
}

.link {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    gap: 207px;
    height: 100px;
    width: 100%;
    justify-content: center;
    font-family: "City";
    
}


.news {  
    height: 100%;
}

button {
    width: 100%;
    height: 150px;
    display: block;
    
}



.email {
    padding-top: 17px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-style: solid;
    border-left: none;
    border-right: none;
    height: 208px;
    text-align: center;
    border-color: #747474;
    
}
    
input {
    width: 543px;
    height: 53px;
    font-size: 20px;
    margin-top: 34px;
    
}

.tabela { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 165px;
    padding: 93px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}



.clothes {
    display: flex;
    flex-direction: column;
    width: 543px;
    
}

.clothes > a {
    font-size: 29px;
    padding-top: 17px;
    align-items: center;
    
    
}

.container {
    display: flex;
    justify-content: center;
    gap: 106px;
    padding-top: 85px;
    height: 350px;
}
.social {
    padding-top: 11px;
    
}